{% extends "dashboardtemplate.html" %}  
  {% block appcontent %}
  <script>
    document.getElementById("Home").className = "active";
  </script>

  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header ">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">Welcome to</h5>
              <h2 class="card-title">LAB @ ADGSTUDIOS</h2>
              We hope you have fun!
            </div>
            
          </div>
        </div>
        <div class="card-body">
        
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      Currently on production but below are 
      some things that can get you started @ the lab!            
    </div>
  </div>
  <div class="row">          
    <div class="col-lg-6 mb-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../assets/img/beOFkU.webp" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">ADGSTUDIOS Python IDE</h4>
          <p class="card-text">This IDE is a web-based tool powered by ACE code editor. This tool can be used to learn, build, run, test your python script. You can open the script from your localhost system and continue to build using this IDE. Code and output can be downloaded to localhost.</p>
          <a href="https://python.adgstudios.co.za" class="btn btn-info">Launch App</a>
        </div>            
      </div>      
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../assets/img/docker_wallpaper.webp" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">DOCKER-ADGWEBOS</h4>
          <p class="card-text">I decided to make a docker image which gives you full functionality of the container OS for users to work on. You get superuser powers! You can do whatever you want with the container. You got access to 1 Gigabit Ethernet. Have fun.</p>
          <br>
          <a href="https://github.com/adgsenpai/web-docker-os-container">GitHub Repo</a>
          <br>
          <br>
          <h5>Username: user</h5>            
          <h5>Password: user</h5>
          <a href="http://lab.adgstudios.co.za:8080/wetty" class="btn btn-info">Launch OS</a>
        </div>            
      </div>      
    </div>
  </div>      
{%endblock%}
 